<div class="container">
<!-- *ngIf="mode!=='cliente'" -->
    <div class="selectoptions">
        <mat-button-toggle-group #group="matButtonToggleGroup" value="Disponible">
            <mat-button-toggle value="Disponible" (change)="getHabitacion(mode,'Disponible')" aria-label="Text align left">
             Disponibles
            </mat-button-toggle>
            <mat-button-toggle value="Tomada" (change)="getHabitacion(mode,'Tomada')" aria-label="Text align center">
             Tomadas
            </mat-button-toggle>
            <mat-button-toggle value="Reservada" (change)="getHabitacion(mode,'Reservada')" aria-label="Text align right">
            Reservadas
            </mat-button-toggle>
            
          </mat-button-toggle-group>
    </div>
    
    <div class="habita-list">      
        <div class="habita-list-hor">
            <div *ngIf="habitaciones">
                <div class="card" *ngFor="let habit of habitaciones">
                    <div class="habitacion">
                        <div class="hab-layout">
                            <img class="thumbnail-image" [src]="habit.imagenes[3]" onerror="this.src='assets/images/solidIm.png'"  alt="alternative" />
                            <div class="hab-layout2">
                                <h1>{{habit.nombre}}</h1>   
                                <h3>Capacidad: {{habit.capacidad}} personas</h3>   
                                <h3>Categoría: {{habit.categoria}}</h3>   
                            </div>        
                            <div class="hab-layout3">
                                <div class="label-dis">
                                    {{habit.estado}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boton-hab">
                        <button type="button" (click)="openDialog(habit)" class="btn"><mat-icon>exit_to_app</mat-icon></button>
                    </div>
                    
                </div>
            </div>
            <div *ngIf="habitaciones.length<=0">
                <div class="notthere">
                    <h1> No existen registros por el momento</h1>
                </div>
            </div>
            
        </div>
        
    </div>
</div>