@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.container{
    height: max-content;
    width: 100%;
    padding-top: 10px;
    background-color: #fce6d7;
}

.hab-layout{
    display: flex;
}

.hab-layout2{
    display: block;
}

.hab-layout3{
    display: flex;
    justify-content: center;
    align-items: center;	
}

.habita-list{
    align-items: center;
    justify-content: center;
    display: flex;
}

.selectoptions{
    align-items: center;
    justify-content: center;
    display: flex;
}


mat-button-toggle-group {  
    width: 100%;
    align-content: center;
    display: flex;
    font-family: 'Josefin Slab', serif;
    margin: 10px;
    border: 0px solid;
}  

mat-button-toggle{  
    width: 100%;
    background-color: #8ed1a2;
    font-family: 'Muli';
    border-radius: 10px;
    color: #23260b;
}  

.mat-button-toggle-checked{
    background-color:#23260b;
    color:  #8ed1a2;
}


.notthere{
    border: 0px solid;

}

.notthere h1{
    font-family: 'Muli';
    font-weight: bold;
    font-size: xx-large;
}

.habita-list-hor{
    padding: 10px;
}

.label-dis{
    background-color: #EDC9AF;
	border: 0 !important;
	border-radius: 80px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 12px;
    padding:10px;
	position: relative;
    height: fit-content;
}

.card{
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 700px;
    margin-bottom: 10px;
}

.habitacion{
    background-color: #23260b;
    color: #ffffff;
    padding: 7px;
    width: 1800px;
}

.usuario-inf{
    display: flex;
    justify-content: space-around;
}

.card h1{
    font-family: 'Muli';
    font-weight: bold;
    letter-spacing: 1px;
	margin: 10px 10px;
}

.card h6{
    opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card h3{
    font-family: 'Josefin Slab', serif;
    opacity: 0.6;
	margin: 0px 10px;
	letter-spacing: 1px;
}

.boton-hab{
    padding: 7px;
	position: relative;
    align-items: center;
    justify-content: center;
	width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"] {
  accent-color: aquamarine;
  color:#8ed1a2;
  font-family: 'Muli';
}

label{
    opacity: 0.6;
}

::ng-deep .mat-select-content{
    background-color: #8ed1a2;
}

.thumbnail-image{
    width: 35%;
    height: 35%;
    max-height: 120px;
}

.btn {
	background-color: #8ed1a2;
	border: 0 !important;
	border-radius: 80px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 10px;
    padding:10px;
	position: relative;
    height: fit-content;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {opacity: 1}

.btn2 {
    
	background-color: #8ed1a2;
	border: 0;
	border-radius: 50px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 10px;
	padding: 10px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

