@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.main{
    width: 900px;
    max-width: 900px;
    height: 100%;
    padding: 10px;
    margin: 0  !important;
    background-color: #fce6d7;
}

.tit-div{
    display: flex;
    flex-direction: row;
    background-color: #EDC9AF;
}

.title{
    padding: 25px !important;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 600px;
}

.title h1{
    font-family: 'Muli';
    font-size: 40px;
    font-weight: bold;
    color: #23260b;
}

.disp{
    padding: 15px !important;
    margin: 15px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    position: relative;
    background-color: aqua;
}

.disp h1{
    font-family: 'Muli';
    font-size: 40px;
    font-weight: bold;
    color: #23260b;
}

.divider{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

.card{
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 850px;
    margin-bottom: 10px;
}

.usuario{
    background-color: #23260b;
    color: #ffffff;
    padding: 7px;
    width: 900px;
}

.usuario-info{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
}

.usuario-info h3{
    color: #23260b;
    font-family: 'Muli';
    letter-spacing: 0px;
    font-weight: bold;
    padding: 0 !important;
    margin: 0px 10px;
}

.card h1{
    font-family: 'Muli';
    font-weight: bold;
    letter-spacing: 1px;
	margin: 10px 10px;
}

.card h6{
    opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card h3{
    opacity: 0.6;
	
	
}

.habitacion{
    padding: 7px;
	position: relative;
	width: 100%;
    
}

.habitacion h3{
    font-family: 'Josefin Slab', serif;
    letter-spacing: 1px;
    margin: 0px 10px;
}
input[type="checkbox"] {
  accent-color: aquamarine;
  color:#8ed1a2;
  font-family: 'Muli';
}

label{
    font-family: 'Muli';
    opacity: 0.6;
}

::ng-deep .mat-select-content{
    background-color: #8ed1a2;
}


.btn {
	background-color: #8ed1a2;
	border: 0;
	border-radius: 50px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 10px;
	padding: 10px;
	position: relative;
    left:10px;
    opacity: 0.8;
    transition: 0.3s;
}

.btn:hover{
    opacity: 1;
}

.btn2 {
	background-color: #8ed1a2;
	border: 0;
	border-radius: 50px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 10px;
	padding: 10px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
    opacity: 0.8;
    transition: 0.3s;
}

.btn2:hover{
    opacity: 1;
}

.usuario-pago{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  .mat-toolbar-single-row button {
    width: 100px;
  }

  #fileInput {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 100%;
  }
  .info-r1{
    display: flex;
    justify-content: space-around;
}

.hab-div{
    display: flex;
    flex-direction: row;
}

.thumbnail-image{
    width: 45%;
    height: 45%;
    max-height: 45%;
    align-self: center;
    justify-self: center;
    display: flex;
    margin-left: 10px;
}

.thumbvouche{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.thumbnail-image2{
    width: 70%;
    height: 70%;
    max-height: 70%;
    align-self: center;
    justify-self: center;
    display: flex;
    margin-left: 10px;
    margin-bottom:10px;
}


.btn3 {
    height: fit-content;
	background-color: #8ed1a2;
	border: 0;
	border-radius: 50px;
    font-family: 'Muli';
	color: #23260b;
    font-weight: bold;
	font-size: 10px;
	padding: 10px;
    margin: 10px;
	position: relative;
    opacity: 0.8;
    transition: 0.3s;
}

.btn3:hover{
    opacity: 1;
}